body {
  text-align: center;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
}

.logo {
  background: url(../head-fazenda.png) 0 0 no-repeat;
  width: 412px;
  height: 195px;
  display: flex;
  text-indent: -9999px;
  overflow: hidden;
  margin: -7px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}

.my-list {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 350px;
  border-radius: 2px;
  padding: 0;
  list-style-type: none;
  margin-left: 27px;
}

.list-item {
  display: flex;
  padding: 15px;
  flex: 1 2 1;
}

.list-item:hover{
  background-color: #B22222;
}

.list-item:hover .text > h3 {
    color: white;
}

.list-item:hover .text > p {
  color: black;
}

.list-item:hover .img{
  border:3px solid white;
}

.text > h3 {
  color: #B22222;
}

.text > p {
  color: #808080;
}

.img{
  border-radius: 50%;
  width: 55px;
  height: 55px;
  align-self: flex-start;
  border:3px solid #B22222;
}

.text {
  padding-left: 2em;
  text-align: left;
}

h3{
  margin-bottom: -10px;
}

.arrow {
  background:white;
  border-radius: 5px;
  width:180px;
  height:60px;
  position: fixed;
  display: block;
}
.arrow:before {
  content:""; 
  position: absolute;
  height: 0px;
  width: 0px;
  top: 22px;
  left: -14px;
  border-width: 7px;
  border-color: transparent white transparent transparent;
  border-style: solid;
}